{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "example": false,
    "showArrBoat" :false,
    "showArrTrain":false,
    "filterData":false,
    "sortData":false,
    "computeStats":false,
    "computeSumaTrains":false,
    "INJURIES":false
  }
}
