*{
    margin:0;
    padding:0;
}
.display-inline{
    display: inline;
}

.menu-de-logo{
  float: left;
  display: block;
}
.datature{
  color: white;
}
.icon{
  padding-left: 20px;
  padding-top: 10px;
    width:50px;
    height:50px;
    padding-right:10px;
    clear:both;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  background-color: #323a45;
  padding-bottom: 10px;
}

.topnav .search-container {
  float: right;
  padding-top: 15px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.button-first-header{
    font-family: 'Hind Siliguri', sans-serif;
    background-color:#fff;
    color: black;
    padding: 10px 20px;
    margin-right:20px;
    border-radius: 5px;
    text-align: center;
    border:none;
}
.social-icon a {
    color: #fff;
}
.social-icon p {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}
.facebook-bg{
    background: #3B5998;
}
.twitter-bg{
    background: #55ACEE;
}
.instagram-bg{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.navbar {
    width: 100%;
    overflow: auto;
    font-size: 0;
    position: relative;
    background-color: #fff;
  }

  /* Navigation links */
  .navbar ul li button {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
    border: none;
  }

  .navbar ul li button:hover {
    background-color: rgb(233, 233, 233);
  }

  .navbar ul li button.active {
    background-color: #fff;
  }

    background-color:#dce4ef;
  }

 .navbar ul li button:hover {
    background-color: rgb(233, 233, 233);
  }

  .type-btns{
    width:50px;
    height: 50px;
  }

  .train{
    background-image: url(img/train.svg);
  }

  .boat{
    background-image: url(img/boat.svg);
  }
  .center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-content{
  margin: auto;
  width: 50%;
  padding: 10px;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.vertical-align{
  vertical-align: middle;
.social-icon a {
  color: #fff;
}
.social-icon p {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background:  rgb(187, 187, 187);
}
.twitter-bg{
  background:  rgb(187, 187, 187);
}
.instagram-bg{
  background: rgb(187, 187, 187);
}
