*{
  margin:0;
  padding:0;
}
.display-inline{
display: inline;
}
.display-inline-block{
  display: inline-block;
}
.display-block{
  display: block;
}
.postion-absolute{
  position: absolute;
}
.text-align-center{
  text-align: center;
}
.vertical-align{
  vertical-align: middle;
}
.text-font{
  font-family: Radley;
}
.text-font-btn{
  font-family: SawarabiMincho;
  font-size: 20px;
}
.datature{
  font-size: 48px;
}

.color-white{
  color: white;
}

.menu-de-logo{
float: left;
display: block;
}
.icon{
padding-left: 20px;
padding-top: 10px;
width:50px;
height:50px;
padding-right:10px;
clear:both;
}

.topnav {
overflow: hidden;
background-color: #323a45;
padding-bottom: 10px;
}

.topnav .search-container {
  float: right;
}
form{
  position: relative;
  left: 50%;
  transform: translate(-70%,20%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

.search{
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}
.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover{
  width: 200px;
  cursor: pointer;
}

form:hover input{
  display: block;
}

form:hover .fa{
  background: #07051a;
  color: white;
}

.navbar {
    width: 100%;
    overflow: auto;
    position: relative;
  }

  .navbar ul li button {
    float: left;
    padding: 12px;
    width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    height: 70px;
    border: none;
    border-block-end-color: #e8e8e8;
    background-color:#dce4ef;

  }

.navbar ul li button:hover {
  background-color: rgb(233, 233, 233);
}
.info-home-box{
  position: relative;
  width: 262px;
  height: 186px;
  border: solid 2px #c4c4c4;
}
.information {
  margin-top: 20px;
  width: 56px;
  height: 56px;
}
.home-screen{
  margin-top: 200px;
}
.Real-Information {
  height: 27px;
  font-family: SawarabiMincho;
  font-size: 14px;
}
.images{
  margin-left: 30px;
  margin-top: 15px;
  width:230px;
  height: 230px;
}
.type-boxes{
  margin-top: 40px;
}
.definition{
  position: absolute;
  margin-top: -150px;
  margin-left: 270px;
  width: 430px;
}
.train-n-boats{
  float: right;
  margin-top: 200px;
  margin-right: 10px;
}
.title-type {
  font-family: RobotoSlab;
  font-size: 18px;
  position: absolute;
  margin-left:90px;
  margin-top: 20px;
}
.train-box{
  margin-bottom: 20px;
}
.box-types{
  height: 249px;
  border: solid 2px #e8e8e8;
  background-color: #ffffff;
}
.center-items{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content{
margin: auto;
width: 50%;
padding: 10px;
}

.year-dropdown-box{
  width: 237px;
  height: 39px;
  border-radius: 10px;
  border: solid 2px #c4c4c4;
}
.see-data-btn{
  width: 108px;
  height: 37px;
  border-radius: 30px;
  border: solid 2px #046b99;
}
.space{
  margin-right: 20px;
}
.box-type-year{
  width: 286px;
  height: 321px;
  margin-top:20px;
  border: solid 2px #dce4ef;
}
footer {
right: 0;
bottom: 0;
left: 0;
padding: 1rem;
background-color: #efefef;

}
.social-icon p {
height: 40px;
width: 40px;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background:  rgb(187, 187, 187);
}
.twitter-bg{
background:  rgb(187, 187, 187);
}
.instagram-bg{
background: rgb(187, 187, 187);
}

.column {
  float: left;
  width: 100%;
  padding: 0 10px;
  
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 20px 30px 10px 40px;
  
}

/* Clear floats after the columns */
.row:after {
  clear: both;
}

.boxes-design-type{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  {
.navbar ul li button{
  width: 100%;
}
.menu-de-logo{
  width:50%
}
.search-container{
  width:20%;
  height: 20px;
}
.search{
  height: 10px;
}
form{
  height: 22px;
  left: 30%;
  transform: translate(-70%,70%);
  width: 30px;
  height: 30px;
}
form:hover {
  width: 160px;
}
.fa{
  width: 35px;
  height: 35px;
  top: -8px;
  right: -5px;
}
.row {
  margin:0px;
}
.column {
  float: left;
  width: 100%;
}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.navbar ul li button{
  width:20%;
  font-size:18px;
}
}
