*{
  margin:0;
  padding:0;
}
.display-inline{
  display: inline;
}
.display-inline-block{
  display: inline-block;
}
.display-block{
  display: block;
}
.postion-absolute{
  position: absolute;
}
.text-align-center{
  text-align: center;
}
.vertical-align{
  vertical-align: middle;
}
.text-font{
  font-family: Radley;
}
.text-size-btn{
  font-size: 20px;
}

/*this is for the title at the top*/
.datature{
  font-size: 48px;
}

.color-white{
  color: white;
}

/*this is for the logo and the icon at top*/
.menu-de-logo{
  float: left;
  display: block;
}
.icon{
  padding-left: 20px;
  padding-top: 10px;
  width:50px;
  height:50px;
  padding-right:10px;
  clear:both;
}

/*this is for the search container which is a nav*/
.topnav {
  overflow: hidden;
  background-color: #323a45;
  padding-bottom: 10px;
}


/*this is for the button menu where the home type year buttons are*/
.navbar {
  width: 100%;
  overflow: auto;
  position: relative;
}

.navbar ul li button {
  float: left;
  padding: 12px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  height: 70px;
  border: none;
  border-block-end-color: #e8e8e8;
  background-color:#dce4ef;
}

.navbar ul li button:hover {
  background-color: rgb(233, 233, 233);
}

/*this is for the content of home*/
.information {
  margin-left: 70px;
  margin-right: 10px;
  margin-top: 20px;
  width: 56px;
  height: 56px;
}

.Real-Information {
  height: 27px;
  font-family: SawarabiMincho;
  font-size: 14px;
}
.box-for-info-home{
  margin-bottom: 20px;
}

/*this is for the type screen*/

.images{
  margin-top: 15px;
  margin-right: 40px;
  width:130px;
  height: 130px;
}
.type-boxes{
  margin-top: 40px;
}
.description-type{
  width: 500px;
}
/*button on type screen*/
.train-n-boats{
  margin-top: 20px;
  float: right;
}
/*title of type in type screen*/
.title-type {
  font-family: RobotoSlab;
  font-size: 18px;
  margin-bottom: 10px;
}
/*to add space between the two types on type screen*/
.box-types{
  width:100%;
  overflow: hidden;
  text-overflow: ellipsis; 
  border: solid 2px #e8e8e8;
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-top: 30px;
}
/*this is for centering*/
.center-items{
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-content{
  margin: auto;
  width: 50%;
  padding: 10px;
}
.year-dropdown-box{
  width: 237px;
  height: 39px;
  border-radius: 10px;
  border: solid 2px #c4c4c4;
  margin-right:10px;
}
.see-data-btn{
  width: 108px;
  height: 37px;
  border-radius: 30px;
  border: solid 2px #046b99;
  color: #046b99;
}
.space{
  margin-right: 20px;
}
.box-type-year{
  width:100%;
  margin-top:20px;
  border: solid 2px #dce4ef;
}

.column {
  float: left;
  width: 100%;
  padding: 0 10px; 
}

.row {
  margin: 20px 30px 10px 40px;
}

.boxes-design-type{
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2){
.center-content{
  width:90%;
}
.box-for-info-home {
  text-align: center;
  width: 100%;
}

.home-figure{
  display: block;
}
.information {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0pX;
}
.images{
  margin-right:10px;
  margin-left:10px;
  height: 95%;
}
.see-data-btn{
  background-color: #ffffff;
  width:80px;
  margin-right: 10px;
  margin-top:10px;
  margin-bottom: 10px;
}
.box-types{
  width:auto;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-right:30px;
}
.description-type {
  width: 100%;
}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  {
.navbar ul li button{
  width: 100%;
}
.menu-de-logo{
  width:50%;
}
.icon{
  padding-left: 60px;
}
.row {
  margin:auto;
}
.boxes-design-type {
  padding: 10px;
  margin-bottom: 10px;
}
.box-for-info-home{
  margin-bottom: 20px;
  text-align: center;
}
.information {
margin-left:0px;
}
.images {
  width: 80%;
  height: 80%;
  margin-right: 10px;
  margin-left:10px;
  margin-top: 0px;
}
.description-type {
  width: 100%;
}
.center-content {
  width: 90%;
}
.see-data-btn{
 background-color: #ffffff;
 width:80px;
}
.year-dropdown-box{
  width: 136px;
}
.home-figure{
  display: block;
}

}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.center-content{
  width:98%;
}
.box-types{
  width:auto;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-right:30px;
}
.see-data-btn{
  background-color: #ffffff;
}
}
