*{
  margin:0;
  padding:0;
}
.display-inline{
display: inline;
}
.postion-absolute{
  position: absolute;
}
.text-align-center{
  text-align: center;
}
.text-font{
  font-family: Radley;
}
.text-font-btn{
  font-family: SawarabiMincho;
  font-size: 20px;
}
.datature{
  font-size: 48px;
}

.color-white{
  color: white;
}

.menu-de-logo{
float: left;
display: block;
}
.icon{
padding-left: 20px;
padding-top: 10px;
width:50px;
height:50px;
padding-right:10px;
clear:both;
}

.topnav {
overflow: hidden;
background-color: #323a45;
padding-bottom: 10px;
}

.topnav .search-container {
  float: right;
}
form{
  position: relative;
  left: 50%;
  transform: translate(-70%,20%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

input{
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}


.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover{
  width: 200px;
  cursor: pointer;
}

form:hover input{
  display: block;
}

form:hover .fa{
  background: #07051a;
  color: white;
}

.navbar {
    width: 100%;
    overflow: auto;
    position: relative;
  }

  .navbar ul li button {
    float: left;
    padding: 12px;
    width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    border: none;
    border-block-end-color: #e8e8e8;
    background-color:#dce4ef;

  }

.navbar ul li button:hover {
  background-color: rgb(233, 233, 233);
}

.type-btns{
  width:50px;
  height: 50px;
}

.train{
  
}

.boat{
  
}
.center-items{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content{
margin: auto;
width: 50%;
padding: 10px;
}

footer {
right: 0;
bottom: 0;
left: 0;
padding: 1rem;
background-color: #efefef;

}
.social-icon p {
height: 40px;
width: 40px;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background:  rgb(187, 187, 187);
}
.twitter-bg{
background:  rgb(187, 187, 187);
}
.instagram-bg{
background: rgb(187, 187, 187);
}
